.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 0.5rem;
  border-bottom: 4px solid #C5CFD8;
  left: 0;
  right: 0;
}

.name {
  font-size: 24px;
}

.currentBookshelf,
.futureBookshelf {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.currentBookshelf h1,
.futureBookshelf h1 {
  min-width: 100%;
}

.btn-add {
  padding: 1rem;
  width: 10%;
  line-height: 1rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  border-color: #8c8c8c;
  font-size: 28px;
}

.btn-add:hover {
  background-color: #d9dcdf;
  border: none;
}


